{% extends 'education/base.html' %}

{% block title %}Дополнительная информация{% endblock %}

{% block body %}
<div style="margin-top: 50px;" class="list-group">
  <a class="list-group-item list-group-item-action active" aria-current="true">
    Дополнительная информация
  </a>
  <a href="{% url 'comments' %}" class="list-group-item list-group-item-action">Отправить сообщение с пожеланиями и улучшениями</a>
  <a href="{% url 'support' %}" class="list-group-item list-group-item-action">Поддержать автора</a>
</div>
{% endblock %}
