{% extends 'education/base.html' %}
{% load static %}

{% block title %}Профиль {{ user.first_name }} {{ user.last_name }}{% endblock %}


{% block body %}
<div class="card" style="width: 18rem; margin-top: 25px;">
  {% if user.userprofile.avatar %}
  <img src="{{ user.userprofile.avatar.url }}" class="card-img-top" alt="...">
  {% else %}
  <img src="{% static 'education/images/avatar.png' %}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">Логин: {{ user.username }}</h5>
    <h5 class="card-title">ФИО: {{ user.first_name }} {{ user.last_name }}</h5>
    <p class="card-text"></p>
    {% if user.userprofile.id  %}
    <a href="{% url 'edit_profile' user.userprofile.id %}" class="btn btn-primary">Редактировать профиль</a>
    {% else %}
    <a href="{% url 'create_profile' %}" class="btn btn-primary">Создать профиль</a>
    {% endif %}
  </div>
</div>

{% endblock %}
