{% extends 'education/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
     {% if not request.user.is_authenticated %}
    {% if request.META.HTTP_REFERER  == 'http://127.0.0.1:8000/' %}
        <div style="font-size:20px; margin-top:40px;" class="alert alert-info" role="alert">
      Чтобы начать учиться нужно пройти регистрацию на сайте(если вы уже зарегистрированы перейдите на вкладку 'Вход')
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
        <div style="margin-top:15px;" class="mb-3">
            <label style='font-size: 30px; margin: 10px;' for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button style="margin-top:20px;" class='btn btn-primary' type="submit">Регистрация</button>
            </div>
    </form>
    {% endif %}
{% endblock %}
