{% extends 'education/base.html' %}

{% block title %}Окружающий мир{% endblock %}

{% block body %}
{% for world_around in world_around_data %}
{% for category in category_data %}
<div class="container">
    <a href="{% url 'world_around' %}{{ category.slug }}/{{ world_around.slug}}">
    <h1 style="rgba(0, 167, 255, 0.81); margin-top: 50px;; font-weight:bold;" class="text_title"><strong>{{world_around.title}}</strong></h1>
    <p class="text"><p href="{{ world_around.photo.url }}"></p>
    <img style="margin-top: 50px;" src="{{ world_around.photo.url }}" class="photo_to_text" align="top" />
    </a>
    <hr class="my-0" style="margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;"/>
    </div>

{% endfor %}
{% endfor %}
{% if world_around_data.has_other_pages %}
<nav style="position: absolute; left: 40%; margin-top: 25px;" aria-label="">
  <ul class="pagination pagination-lg">
      {% for page in world_around_data.paginator.page_range %}
      {% if world_around_data.number == page %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">{{ page }}</span>
    </li>
      {% elif page >= world_around_data.number|add:-2 and page <= world_around_data.number|add:2 %}
    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
  </ul>
</nav>
{% endif %}
{% endblock %}